<nav>
    <ul>
        <li class="left nav-li-inline">
            <a href="/">
                <div class="logo-image">
                    <img id="logo" src="logo1.png" class="img-fluid">
                </div>
            </a>
        </li>
        <li class="left nav-li-inline" id="logoName">Money Manager</li>
        <li class="right button nav-li-inline" id="btn2"><i class="fa fa-solid fa-user" id="icon1"></i>
            <span id="name"><%= name %></span>
            <span class="ham">
                <i class="fa fa-angle-down" id="icon2"></i>
            </span>
            <ul class="nav-sub">  
                <li class="list-item"><a href="/profile" class="nav-link"><i class="fa fa-solid fa-address-card icon"></i>Profile</a></li>  
                <li class="list-item"><a href="/recentActivity" class="nav-link">Recent Activity</a></li>  
                <li class="list-item"><a href="/groups" class="nav-link">My Groups</a></li>  
                <li class="list-item"><a href="/createGroup" class="nav-link">Create a group</a></li>
                <li class="list-item"><a href="/friends" class="nav-link">Friends</a></li>
                <li class="list-item"><a href="/logout" class="nav-link"><i class="fa-regular fa-right-from-bracket"></i>Sign Out</a></li>  
            </ul></li>
        
    </ul>
</nav>